* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: rgb(250, 250, 250);
    padding: 50px;
    margin: auto;
}

section {
    margin-top: 20px;
    border: 1px solid rgb(219, 219, 219);
}

section#login {
    background-color: white;
    padding: 50px;
    width: 290px;
    margin: auto;
    height: 350px;
}

section#login p {
    font-weight: bolder;
    color: rgb(142, 142, 142);
}

i {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

input {
    display: inline-block;
    width: 250px;
    padding: 5px;
    margin-bottom: 5px;
    color: black;
}

section#login button {
    background-color: rgb(198, 222, 250);
    color: white;
    padding: 5px;
    border: 1px white;
    border-radius: 3px;
    width: 268px;
    font-weight: bold;
    border-color: white;
}

section#login button:enabled {
    background-color: rgb(65, 147, 239);
    cursor: pointer;
}


a {
    text-decoration: none;
    font-weight: bolder;
}

a.facebook {
    color: rgb(61, 80, 129);
}

a#password {
   color: rgb(20, 54, 103);
   font-weight: lighter;
}

p {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
}

section#create {
    background-color: white;
    padding: 10px;
    width: 370px;
    margin: auto;
    margin-top: 20px;
}

section#create a {
    color: rgb(65, 147, 239);
}

section#create a:visited {
    color: rgb(65, 147, 239);
}

img {
    width: 136px;
    height: 40px;
}

footer {
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: rgb(138, 138, 138);
    font-weight: lighter;
}

select {
    font-size: 12px;
    color: rgb(138, 138, 138);
    font-weight: lighter;
}

footer p {
    font-size: 12px;
    color: rgb(138, 138, 138);
    font-weight: lighter;
}

footer p, footer select {
    display: inline-block;
    margin-right: 20px;
}