* {
    margin: 100px;
    padding: 0px;
}

body {
    background-color: red;
}

section#login {
    border: 10px 10px solid grey;
    background-color: white;
}

input {
    display: inline-block;
    width: 500px;
}